doctype html
html(lang="en")
  head
    title= "Furmaek"
    meta(charset="utf-8")
    link(href="/css/main.css", rel="stylesheet", type="text/css")
  body
    header.site-header
      h1
        a(href="/")= "Furmaek"
      nav
    main#application.site-content

    footer.site-footer
      mixin twitter(userName, name)
        a(href="https://twitter.com/#{userName}", target="_blank")= name
      p Made by #[+twitter("CaraidArt", "Caraid")] & #[+twitter("zeeraw", "Zeeraw")]

    script(src="/js/main.js")


